<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Country</title>

    <link rel="icon" href=""..img/170-512.png" />
    <link
      href="https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900"
      rel="stylesheet"
    />

    
    <!--CSS-->

    <link rel="stylesheet" href="../css/style.css" />

    <!--FONTS AND ICONS-->

    <link rel="stylesheet" href="css/styles.css" />


  </head>
  <body class="country-body">

    <div class="main-stuff">
        <div class="image-header">
            <h1 class='heading-country'>Chile</h1>
        </div>
    </div>


  </body>
</html>
